{% extends 'base.html' %}
{% block head %}
<title>Client List</title>
{% endblock %}

{% block body %}

{% if client_list_res and client_list_aff %}
<h2>Liste des clients résidentiel</h2>
<ul>
  {% for client in client_list_res %}
  <li><a href="/admin/accounts/clientresidentiel/{{client.id}}">{{client.email}}</a></li>
  {% endfor %}
</ul>
<h2>Liste des clients affaire</h2>
<ul>
  {% for client in client_list_aff %}
  <li><a href="/admin/accounts/clientaffaire/{{client.id}}">{{client.email}}</a></li>
  {% endfor %}
</ul>
{% else %}
<h2>Liste des clients affaire</h2>
<ul>
  {% for client in client_list_aff %}
  <li><a href="/admin/accounts/clientaffaire/{{client.id}}">{{client.email}}</a></li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
